<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar.title %>
</p>

<%for event in @array%>
  <%=event[:count]%> : <%=event[:summary]%><br />
<%end%>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
